@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: 255, 255, 255;
  --background: #1d1f1e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0, 0;
    --text: 214, 219, 220;
  }
} */

body {
  color: rgb(var(--text));
  background: var(--background);
  /* font-family: ZZZ, Impact; */
}

.zzz {
  font-family: ZZZ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Impact.ttf */
/* ZZZ_KR.otf */
@font-face {
  font-family: 'Impact';
  src: url('/fonts/Impact.ttf') format('truetype');
}

@font-face {
  font-family: 'ZZZ';
  src: url('/fonts/ZZZ_KR.otf') format('opentype');
}
